---
/* ExhibitLayout.astro
* Do NOT modify this file, or any of the files in the layouts/ directory. Any
* work by you must be added to:
*
* - the assets/ directory (for static assets such as images)
* - the pages/ directory (for your main content page)
* - the components/ directory (for your components)
* - the styles/ directory (for any CSS, where applicable)
* 
* If you find yourself needing to modify something in this file, seek support
* from your instructor.
*/ 

const { title, author, readingTime } = Astro.props.frontmatter ?? Astro.props;
const { headings } = Astro.props; 

import 'normalize.css';
import '@fontsource-variable/lora';
import '@fontsource-variable/noto-sans';

import '../styles/global.css'; 

import { Icon } from 'astro-icon/components';

const baseUrl = import.meta.env.BASE_URL;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title} - CSARCH2 Virtual Exhibit</title>
    </head>

    <body>
        <header class="header">
            <div class="header__titleblock">
                <a href={baseUrl} class="button">
                    <Icon name="ic:round-home" />
                </a>

                <strong>{title}</strong>
                <span class="header__subtitle">by {author}</span>
            </div>

        </header>

        <main class="content">
            {headings && headings.length > 0 && (
                <nav class="toc">
                    <h2>Table of contents</h2>
                    <ul class="toc__list">
                        {headings.filter(h => h.depth > 1).map((heading) => (
                            <li class={`toc__item depth-${heading.depth}`}>
                                <a href={`#${heading.slug}`}>{heading.text}</a>
                            </li>
                        ))}
                    </ul>
                </nav>
            )}

            <div class="content__block">
                <div class="content__titlemeta">
                    <h1>{headings?.find(h => h.depth === 1)?.text || title}</h1>
                    <span>by {author} ・ {readingTime || '5 minute read'}</span>
                </div>

                <article class="article">
                    <slot />
                </article>
            </div>

            <div class="toc padder"></div>
        </main>

        <footer>CSARCH2 Virtual Exhibit &mdash; "Computer Architecture is Forever"</footer>
    </body>
</html>

<style>
    .article :global(h1:first-of-type) {
        display: none;
    }
</style>
